{% extends "plugin.html" %}

{% block content %}
<div class="nd-container" 
     {% if plugin_settings and plugin_settings.background_image %}
     style="background-image: url('{{ plugin_settings.background_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
     {% endif %}>
     
    <div class="nd-header">
        <div class="nd-header-left">
            <span class="nd-name">Top 10 Games</span>
        </div>
        <div class="nd-header-right">
            Updated: {{ last_updated }} &bull; {{ poll_name }} - Week {{ week }}
        </div>
    </div>

    <div class="nd-row nd-head">
        <div>TIME</div>
        <div>HOME</div>
        <div>AWAY</div>
    </div>

    {% for game in all_games %}
    <div class="nd-row">
        <!-- Combined Date & Time -->
        <div class="datetime">{{ game.formatted_date }} &nbsp;{{ game.time }}</div>

        <!-- Home Team (team1) -->
        <div class="opp">
            {% if game.team1.rank %}
            <span class="rank">#{{ game.team1.rank }}</span>
            {% endif %}
            {% if game.team1.logo %}
            <img class="logo-sm" src="{{ game.team1.logo }}" alt="{{ game.team1.name }} logo">
            {% endif %}
            <span class="school">
                {{ game.team1.name }}
                <span class="nickname">{{ game.team1.mascot }}</span>
            </span>
            <span class="opp-record">({{ game.team1.record }})</span>
        </div>

        <!-- Away Team (team2) -->
        <div class="opp">
            {% if game.team2.rank %}
            <span class="rank">#{{ game.team2.rank }}</span>
            {% endif %}
            {% if game.team2.logo %}
            <img class="logo-sm" src="{{ game.team2.logo }}" alt="{{ game.team2.name }} logo">
            {% endif %}
            <span class="school">
                {{ game.team2.name }}
                <span class="nickname">{{ game.team2.mascot }}</span>
            </span>
            <span class="opp-record">({{ game.team2.record }})</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
